# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
/staticfiles
media
media_root
/local_settings.py
*.log

# Env
.env
.env.*
.venv/

# VSCode / IDE
.vscode/
*.suo
*.user
*.userosscache
*.sln
.idea/

# mac/windows
.DS_Store
Thumbs.db
